# Dépendances Node
/node_modules
/dist
/build
/temp

# Fichiers spécifiques au développement local
.env
.env.local
.env.*.local
.DS_Store

# Fichiers spécifiques à IDE/Vite
.vscode
.idea
/dist-ssr
/coverage

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*