@tailwind base;
@tailwind components;
@tailwind utilities;

/* * Ajout d'une classe pour l'accessibilité 
 * Cache visuellement, mais laisse le contenu disponible aux lecteurs d'écran.
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}